Unity_study/Library/*
Unity_study/Logs/*
Unity_study/Packages/*
Unity_study/UserSettings/*
Unity_study/windows_game*
Unity_study/ios*

Unity_study/Tower\ Defense/Library/*
Unity_study/Tower\ Defense/Logs/*
Unity_study/Tower\ Defense/Packages/*
Unity_study/Tower\ Defense/Temp/*

